@model ScheduleProg.Models.PareSubgroup

@{
    ViewData["Title"] = "Index";
}

<h1>SetDate</h1>

<h4>Potok</h4>
<hr />
<div class="row">
    <div class="col">
        <form method="get" style="width:100%" action="~/PareSubgroups/Create">
        <input type="submit" id="Week_Day" name="Week_Day" value="Понеділок" class="btn btn-primary"></input>
        <input type="submit" id="Week_Day" name="Week_Day" value="Вівторок" class="btn btn-primary"></input>
        <input type="submit" id="Week_Day" name="Week_Day" value="Середа" class="btn btn-primary"></input>
        <input type="submit" id="Week_Day" name="Week_Day" value="Четвер" class="btn btn-primary"></input>
        <input type="submit" id="Week_Day" name="Week_Day" value="П'ятниця" class="btn btn-primary"></input
        </form>
       
    </div>
</div>



